
.text{
justify-content: center;
    color: red;
    font-size: 20px;
}
.column{
    float: left;
    width: 30%;
    padding: 10%;
    height:300px
}
.row:after{
    content: "";
    display: table;
    clear: both;
}
.card{
    padding:20px;
    width: 80%;
    margin: auto;
}