<!DOCTYPE html>
<head>
  <link href="/assets/css/nucleo-icons.css" rel="stylesheet">
</head>
  <div class="card">

    <form>
      <div class="row">
        <div class="col">
          
          <label>Username:</label>
            <div class="input-group input-group-alternative" >
              <input id="username" name="username" class="form-control" placeholder="Username" 
                >
                <div class="input-group-append">
                  <span class="input-group-text">
                    <i class="tim-icons icon-badge"> </i>
                  </span>
                </div>
            </div>
           
          </div>
        
        <div class="col">
          <label>E-mail:</label>
          <div class="input-group input-group-alternative" >
            <input id="E-mail" name="E-mail" class="form-control" placeholder="EMAIL" 
              >
              <div class="input-group-append">
                <span class="input-group-text">
                  <i class=" tim-icons icon-email-85"> </i>
                </span>
              </div>
          </div>
         
        </div>
      </div>
      
    <br>
    
  
    
      <div class="row">
        <div class="col">
          <label>Password:</label>
          <div class="input-group input-group-alternative" >
            <input id="pswd" name="pswd" type="password" class="form-control" placeholder="Password" 
              >
              <div class="input-group-append">
                <span class="input-group-text">
                  <i class="tim-icons icon-lock-circle"> </i>
                </span>
              </div>
          </div>
         
        </div>
        
        <div class="col">
          <label>Retype-pswd:</label>
          <div class="input-group input-group-alternative" >
            <input id="pswd" type="password" name="pswd" class="form-control" placeholder="Retype pswd" 
              >
              <div class="input-group-append">
                <span class="input-group-text">
                  <i class="tim-icons icon-key-25"> </i>
                </span>
              </div>
          </div>
         
        </div>
      
      </div>
    
    
    <br>
    
      <div class="row">
        <div class="col">
          <label>Name:</label>
            <div class="input-group input-group-alternative" >
              <input id="name" name="name" class="form-control" placeholder="Name" 
                >
                <div class="input-group-append">
                  <span class="input-group-text">
                    <i class="tim-icons icon-single-02 "> </i>
                  </span>
                </div>
            </div>
           
          </div>
        
        <div class="col">
          <label>Contact-no:</label>
            <div class="input-group input-group-alternative" >
              <input id="pno" name="pno" class="form-control" placeholder="Contact-no" 
                >
                <div class="input-group-append">
                  <span class="input-group-text">
                    <i class="tim-icons icon-headphones"> </i>
                  </span>
                </div>
            </div>
           
          </div>
        
      </div>
  
    <br>
    
      <div class="row">
        <div class="col">
          <label>Status:</label>
          <div class="input-group input-group-alternative" >
       
            <select id="inputState" class="form-control" placeholder="Status">
              <option selected >select</option>
              <option>Active</option>
              <option>Inactive</option>
            </select>
          </div>
         
        </div>
      
        <div class="col">
          <label>Role:</label>
          <div class="input-group input-group-alternative" >
       
            <select id="inputState" class="form-control" placeholder="Role">
             <option selected >select</option>
              <option>Admin</option>
              <option>User</option>
            </select>
          </div>
         
        </div>
      </div>
    
    <br>
    <button class="btn btn-success btn-round" type="submit">ADD</button>
    <button class="btn btn-danger btn-round " style="margin-right: 20px;" type="reset">Reset</button>
    </form>
    <br>
  
   
  </div>
